.wrong-fetch {
  position: absolute;
  top: 0;
  background: white;
  left: 0;
  width: 100%;
  z-index: 100;
}

.wrong-fetch__content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.wrong-fetch__title {
  font-size: 25px;
  font-weight: bold;
  color: var(--color-red);
}

.wrong-fetch__btn {
  margin-top: 20px;
  border: none;
  outline: none;
  font-size: 17px;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}
